*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dataText{
    margin: 0;
    user-select: none;
    color: white;
}

.confirmed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #FFFFFF;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 7px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

.pending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #FFFFFF;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 7px;
    text-align: center;
    z-index: 1;
    animation-name: pulse;
    animation-duration: 1.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    from {
        opacity: 0.65
    }

    to {
        opacity: 1;
    }
}
