*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleOrange{
    color: #FF6600;
    font-weight:bolder;
    font-size: 58px;
}

.titleWhite{
    color: white;
    font-weight: normal;
    font-size: 48px;
}